.str-chat__channel-header {
  background: var(--gradient-primary-reverse);
  padding: 1rem;
}

.str-chat__channel-header-title {
  font-size: 1.25rem;
  color: var(--ion-color-light);
  font-weight: bold;
}

body {
  --str-chat__primary-color: var(--ion-color-primary) !important;
}

.str-chat__primary-button,
.str-chat__avatar-fallback {
  background: var(--ion-color-primary) !important;
  color: var(--ion-color-primary-contrast) !important;
  border-color: var(--ion-color-primary) !important;
}

.str-chat__message.str-chat__message--me .str-chat__message-bubble {
  background: rgba(var(--ion-color-primary-rgb), 0.3) !important;
}
.str-chat__channel-header-info {
  color: var(--ion-color-light-shade) !important;
}