.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 4px;
}

.event-slider {
    width: 100%;
}