.opaque {
    --background: rgba(var(--ion-color-primary-rgb), 1);
    --color: var(--ion-color-light);
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}

.image {
        object-fit: cover;
        width: 100%;
}