ion-app, .ion-page {
  background: var(--ion-background-color);
  font-family: 'Inter', sans-serif;
}

/* ion-toolbar {
  padding: 5px 0 5px 0 !important;
}

ion-toolbar ion-title {
  font-size: 1.3rem;
} */



.primary-gradient {
  --background: var(--gradient-primary);
  color: white; optional: ensure text is readable
}

ion-tab-bar {
  padding: 5px;
  /* --background: var(--ion-color-light-shade); */
  /* --color: var(--ion-color-light); */
}

ion-content {
  --background: transparent;
}