.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
    text-align: center;
}